<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.role == 'root' %}
        {% for company in companies %}

            {{ company.name }} <a href="{% url 'companies:detail' company.pk %}">Details</a> 
            <a href="{% url 'companies:update' company.pk %}">Update</a>
            <a href="{% url 'companies:delete' company.pk %}">Delete</a> <br>

        {% endfor %}
    {% else %}
        <p>
            Acces denied
        </p>
    {% endif %}
    
</body>
</html>