
    {% extends 'base.html' %}
    {% block content %}
        {% if request.user.role == 'root' %}
            <div class="row justify-content-center">
                <h1>Manage Comanies</h1>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-light"> <a href="{% url 'companies:create' %}">Create Company</a></button>
                <button type="button" class="btn btn-light"> <a href="{% url 'companies:list' %}">List of companies</a> </button>
            </div>
    
        {% else %}
            <p>
                Acces denied
            </p>
        {% endif %}
    {% endblock %}
    
        
    