<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if request.user.role == 'root' %}
        <a href="{% url 'companies:create' %}">Create Company</a> <br>
        <a href="">View a Company</a> <br
        <a href="">Update Company</a> <br>
        <a href="">Delete Company</a> <br>
        <a href="">List of companies</a> <br>
    {% else %}
        <p>
            Acces denied
        </p>
    {% endif %}
    
</body>
</html>