<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div>
        <p>
            Welcome {{ full_name }}, you have been registered in the access control platform, an administrator profile has been
            created for you as soon as you are assigned to a company you will be notified and you will be able to access
            the platform with the following credentials:
        </p>
        <p>
            password: {{ password }}
        </p>
        <p>
            email: {{ email }}
        </p>
    </div>
</body>

</html>