{% extends 'base.html' %}

{% block content %}
    
    <div class="row justify-content-center">
        <h1>Administrator menu</h1>
    </div>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-light"><a href="{% url 'companies:create_acces_point' %}">Create acces Point</a><br></button>
    </div>
    
    <br>

    <div class="row justify-content-center">
        {% for accespoint in accespoints %}

            <div class="col-sm-4 ">
                <div class="container justify-content-center">
                    <div class="card row justify-content-center">
                        <div class="card-body col justify-content-center">

                            <h5 class="card-title row justify-content-center">{{ accespoint.name }}</h5>
                            <div class="row justify-content-center">
                                <a href="{% url 'companies:detailaccespoint' accespoint.pk %}" class="btn btn-primary ">Details</a>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <a href="{% url 'companies:updateaccespoint' accespoint.pk %}" class="btn btn-primary">Update</a><br><br>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <a href="{% url 'companies:deleteaccespoint' accespoint.pk %}" class="btn btn-primary">Delete</a><br><br>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <a href="{% url 'companies:create_schedule' accespoint.pk %}" class="btn btn-primary">Create Schedule</a>
                            </div>
                        
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    
    <br>
    <div class="row justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}