<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.role == 'root' %}
        {% for user in users %}

            {{ user.first_name }} {{ user.last_name }} <a href="{% url 'users:detail' user.pk %}">Details</a> 
            <a href="{% url 'users:update' user.pk %}">Update</a>
            {% if user.role != 'root' %}
                <a href="{% url 'users:delete' user.pk %}">Delete</a> 
            {% endif %}<br>

        {% endfor %}
    {% else %}
        <p>
            Acces denied
        </p>
    {% endif %}
    
</body>
</html>