{% extends 'base2.html' %}
{% block content %}


    <div class="row justify-content-center">
        <h1>Access Control </h1>
    </div>

    <div class="row justify-content-center">
            <form  method = "POST" action="{% url 'users:login' %}">
                
                {% csrf_token %}
                <input placeholder="Username" name="username"><br><br>
                <input  placeholder="Password" name="password" type="password"><br><br>
                <button type="submit" class="btn-primary">Login</button>
                
            </form>
        
    </div>
{% endblock %}
