{% extends 'base.html' %}
{% block content %}
    {% if request.user.role == 'root' %}
        <div class="row justify-content-center">
            <h1>Manage Users</h1>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-light"><a href="{% url 'users:create' %}">Create an User</a></button>
            <button type="button" class="btn btn-light"><a href="{% url 'users:list' %}">List of users</a> </button>
        </div>

    {% else %}
        <p>
            Acces denied
        </p>
    {% endif %}
{% endblock %}

    
