{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <h1>Create schedule</h1>
    </div>
    <div class="row justify-content-center">
        
        <form action="{% url 'users:indexadministrator'  %}" method="POST">
            <p>Time Format : 'hh:mm:ss'</p> 
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button  type="submit" class="btn-success">Register!</button>
    
        </form>
    </div>      
    
{% endblock %}
