{% extends 'base.html' %}
{% block content %}
    {% if request.user.role == 'administrator' %}
        <div class="row justify-content-center">
            <h1>Update Schedule</h1>
        </div>
        <div class="row justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <table>

                    {{ form.as_table }}
                </table>
                <button  type="submit" value="save" class="btn-success">Update</button>
        
            </form>
        </div>
    {% else %}
        <p>
            You dont have permission
        </p>
    {% endif %}
    
    
{% endblock %}

    
